body {
    background-image: url("img/cielo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(8px);
    -webkit-filter: blur(8px);*/
}