.body {
    background-image: url(../img/montes_nocturno_desenfocado.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}